@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

h1,
p {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

button {
  font-family: inherit;
}

html {
  display: flex;
  justify-content: center;
  font-family: "League Gothic", sans-serif;
  min-height: 100vh;
  /* to prevent scrollbars */
  overflow: hidden;
}

h1 {
  font-size: 5rem;
}

p {
  font-size: 1.5rem;
}

button {
  background-color: white;
  padding: 1rem 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

hr {
  border-top: 2px solid black;
}

.content {
  padding: 3rem 2rem;
  min-width: 50rem;
}
