@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

:root {
  --primary-color: white;
  --secondary-color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

button {
  font-family: inherit;
}

html {
  font-family: "League Gothic", sans-serif;
  min-height: 100vh;
  /* to prevent scrollbars */
  overflow: hidden;
  color: var(--secondary-color);
}

body {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 5rem;
}

p {
  font-size: 1.5rem;
}

button {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

code {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  white-space: break-spaces;
}

header {
  display: flex;
  justify-content: space-between;
}

.content {
  width: 100%;
  padding: 3rem 1rem;
}

.buttons {
  margin: 2rem 0;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem;
}

.link__img {
  fill: var(--secondary-color);
  width: 2rem;
  height: 2rem;
}

@media screen and (min-width: 850px) {
  .content {
    padding: 3rem 1rem;
    max-width: 50rem;
  }
}
