/* This has to be imported before custom stylesheet for link tags to applied */

* {
  cursor: inherit;
}

#mouse-background {
  position: absolute;
  width: 4rem;
  height: 4rem;
  pointer-events: none;
  overflow: visible;
  background-size: contain;
  background-repeat: no-repeat;
}

.circle {
  cursor: url("./circle.svg"), auto;
}

.square {
  cursor: url("./square.svg"), auto;
}

.trailing {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation: fade 1s forwards;
  pointer-events: none;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
