/* This has to be imported before custom stylesheet for link tags to applied */

* {
  cursor: inherit;
}

#mouse-background {
  position: absolute;
  width: 4rem;
  height: 4rem;
  pointer-events: none;
  overflow: visible;
  background-size: contain;
  background-repeat: no-repeat;
}
